<div class="img-custom col-md-4", id="car_<%= inventory.id %>">
  <div class="car-wrap rounded ftco-animate shadow">
    <div class="img rounded d-flex align-items-end" style="background-image: url('<%= inventory.image_urls ? inventory.image_urls.first : '/assets/inventory_placeholder.jpg' %>');">
  </div>
    <div class="text">
      <h2 class="mb-0"><a href="car-single.html"><%= inventory.model %></a></h2>
      <div class="d-flex mb-3">
        <span class="cat"><%= inventory.make %></span>
        <p class="price ml-auto"><%= number_to_currency(inventory.price) %></p>
      </div>
      <p class="d-flex mb-0 d-block"><a href="#" class="img-custom btn btn-primary py-2 mr-1">Buy now</a> <a href='<%= car_details_path(inventory) %>'class="btn btn-success py-2 ml-1">Details</a></p>
    </div>
  </div>
</div>
