<div class="p-3 m-3 ">
   <div class="container-fluid">
      <div class="row justify-content-center p-3">
         <div class="col-lg-8 ">
            <div class="card border-2 p-4 card shadow-lg rounded-lg">
               <h3 class="text-center">Ready to Join Our Network</h3>
               <p><i class="bi bi-phone m-2"></i>For immediate Assistance call 209 273 9668</p>
               <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "row g-3" }) do |f| %>
               <div class="col-md-6">
                  <%= f.label :first_name, class: "form-label" %>
                  <%= f.text_field :first_name , class: "form-control text-dark", placeholder: "First Name" %>
                  <% if resource.errors.include?(:first_name) %>
                  <span class="text-danger">  <% resource.errors.messages[:first_name].each do |message| %>
                  <span class="text-danger p-1 m-1">First Name <%= message %> </span>
                  <% end %>
                  <% end %>
               </div>
               <div class="col-md-6">
                  <%= f.label :last_name, class: "form-label" %>
                  <%= f.text_field :last_name , class: "form-control text-dark", placeholder: "Last Name" %>
                  <% if resource.errors.include?(:last_name) %>
                  <span class="text-danger">  <% resource.errors.messages[:last_name].each do |message| %>
                  <span class="text-danger p-1 m-1">Last Name <%= message %> </span>
                  <% end %>
                  <% end %>
               </div>
               <div class="col-md-6">
                  <%= f.label :email, class: "form-label" %>
                  <%= f.email_field :email , class: "form-control text-dark", placeholder: "Email" %>
                  <% if resource.errors.include?(:email) %>
                  <span class="text-danger">  <% resource.errors.messages[:email].each do |message| %>
                  <span class="text-danger p-1 m-1">Email <%= message %> </span>
                  <% end %>
                  <% end %>
               </div>
               <div class="col-md-6">
                  <%= f.label :phone_number, class: "form-label" %>
                  <%= f.text_field :phone_number , class: "form-control text-dark", placeholder: "Phone Number" %>
                  <% if resource.errors.include?(:phone_number) %>
                  <% resource.errors.messages[:phone_number].each do |message| %>
                  </i> <span class="text-danger p-1 m-1">Phone Number <%= message %> </span>
                  <% end %>
                  <% end %>
               </div>
               <div class="col-md-6">
                  <%= f.label :website, class: "form-label" %>
                  <%= f.text_field :website, class: "form-control text-dark", placeholder: "Website" %>
               </div>
               <div class="col-md-6">
                  <%= f.label :job_title, class: "form-label" %>
                  <%= f.select :job_title, ['Manager', 'IT System', 'Designer'],{}, class: "form-select" %>
               </div>
               <div class="col-md-6">
                  <%= f.label :company, class: "form-label" %>
                  <%= f.text_field :company, class: "form-control text-dark", placeholder: "Company" %>
               </div>
               <div class="col-md-6">
                  <%= f.label :state, class: "form-label" %>
                  <%= f.select :state, CS.states(:us).values, {}, class: "form-select", id: "stateSelect" %>
               </div>
               <div class="col-md-6">
                  <%= f.label :city, class: "form-label" %>
                  <%= f.select :city, CS.cities(:AK, :US), {}, class: "form-select", id: "citySelect" %>
               </div>
               <div class="col-md-6">
                  <%= f.label :zip_code, class: "form-label" %>
                  <%= f.select :zip_code, "anchorage, al".to_zip, {}, class: "form-select",
                     id: "pinSelect", placeholder: "Zip Code" %>
               </div>
               <div class="col-md-12">
                  <h4>For faster processing, please select below:</h4>
                  <div class="form-check">
                     <%= f.check_box :certified_dealer, class: "form-check-input", id: "certifiedDealer" %>
                     <%= f.label "certifiedDealer", "Are you currently a certified dealer?", class: "form-check-label" %>
                  </div>
               </div>
               <div class="col-md-12">
                  <h4>Select Dealership Type</h4>
                  <div class="form-check">
                     <%= f.check_box :dealer_group, class: "form-check-input", id: "dealerGroup" %>
                     <%= f.label "dealerGroup", "Do you belong to a dealer group?", class: "form-check-label" %>
                  </div>
                  <div class="form-group">
                     <%= f.text_field :group_name, class: "form-control text-dark", placeholder: "Please enter your dealer group name" %>
                  </div>
               </div>
               <div class="col-md-12">
                  <h4>How Can we help?</h4>
                  <div class="form-check">
                     <%= f.check_box :certified_dealer, class: "form-check-input", id: "becomeCertified" %>
                     <%= f.label "becomeCertified", "Become a certified dealer", class: "form-check-label" %>
                  </div>
                  <div class="form-check">
                     <%#= f.check_box :acquiring_inventory, class: "form-check-input", id: "acquiringInventory" %>
                     <%= f.label "acquiringInventory", "Acquiring Inventory", class: "form-check-label" %>
                  </div>
                  <div class="form-check">
                     <%#= f.check_box :delivery_logistics, class: "form-check-input", id: "deliveryLogistics" %>
                     <%= f.label "deliveryLogistics", "Delivery & Logistics", class: "form-check-label" %>
                  </div>
                  <div class="form-check">
                     <%#= f.check_box :support_billing, class: "form-check-input", id: "supportBilling" %>
                     <%= f.label "supportBilling", "Support & Billing", class: "form-check-label" %>
                  </div>
               </div>
               <div class="col-md-12">
                  <%= f.text_field :anything_else_help, class: "form-control text-dark", placeholder: "Anything Else we can help you with" %>
               </div>
               <%= f.hidden_field :role, value: 'dealer' %>
               <div class="col-md-12">
                  <%= f.submit "SEND", class: "btn btn-success w-100" %>
               </div>
               <% end %>
               <div class="col-md-12 text-center">
                  <div class="card-footer py-3">
                     Already have an account? Go to <%= link_to "login", new_user_session_path %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>