<div class="container mt-5">
  <div class="col-lg-8 mx-auto p-5 shadow">
    <h2 class="text-center">Reset Password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="mb-3">
        <%= f.label :password, "New Password", class: "form-label" %>
        <div class="position-relative">
          <% if @minimum_password_length %>
            <em class="text-muted">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control text-dark", id: "password_field" %>
          <span class="fa fa-fw fa-eye field-icon toggle-password" toggle="#password_field" style="position: absolute; right: 20px; top: 68%; transform: translateY(-50%);"></span>
        </div>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "Confirm New Password", class: "form-label" %>
        <div class="position-relative">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control text-dark", id: "password_confirmation_field" %>
          <span class="fa fa-fw fa-eye field-icon toggle-password" toggle="#password_confirmation_field" style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%);"></span>
        </div>
      </div>

      <div class="text-center">
        <%= f.submit "Change Password", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const togglePasswordIcons = document.querySelectorAll('.toggle-password');

    togglePasswordIcons.forEach(function(icon) {
      icon.addEventListener('click', function() {
        const passwordField = document.querySelector(this.getAttribute('toggle'));
        const fieldType = passwordField.getAttribute('type');
        if (fieldType === 'password') {
          passwordField.setAttribute('type', 'text');
          this.classList.remove('fa-eye');
          this.classList.add('fa-eye-slash');
        } else {
          passwordField.setAttribute('type', 'password');
          this.classList.remove('fa-eye-slash');
          this.classList.add('fa-eye');
        }
      });
    });
  });
</script>
