<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Filter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <% filter_data = Inventory.filter_data %>
      <div class="modal-body">
        <form action="/filter" method="get" data-remote="true">
          <div class="border border-light float-left rounded">
            <!-- Brand Filter -->
            <div class="row m-3 text-center">
              <div class="col-md-12">
                <div class="form-group img-custom shadow">
                  <label class="text-dark m-1 border border-light text-dark fw-bold">Brand</label>
                  <div class="p-3">
                    <% brands = filter_data['brand'] %>
                    <% brands.each do |brand| %>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="<%= brand.downcase %>" name="brand[]" value="<%= brand %>" <%= 'checked' if @brand&.include?(brand) %>>
                        <label class="form-check-label text-dark" for="<%= brand.downcase %>"><%= brand %></label>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <!-- Price Filter -->
            <div class="row m-3">
              <div class="col-md-12">
                <div class="form-group img-custom shadow text-left">
                  <label class="text-dark m-2 border border-light text-dark fw-bold text-left">Price</label>
                  <input type="range" id="price" name="price" min="0" max="100000" value="<%= @price.to_i %>" style="width: 60%;" oninput="pricesValue(this.value)">
                  <span class="form-check-label text-dark ms-4" id="priceValue"><%= @price.to_i %></span>
                </div>
              </div>
            </div>

            <!-- Year Filter -->
            <div class="row m-3 text-center">
              <div class="col-md-12">
                <div class="form-group img-custom shadow">
                  <label class="text-dark m-1 border border-light text-dark fw-bold">Year</label>
                  <div class="p-3">
                    <% years = filter_data['year'] %>
                    <% years.each do |year| %>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="year[]"  id="year2022" value="<%= year %>" <%= 'checked' if @year&.include?(year) %>>
                      <label class="form-check-label text-dark" for="year<%= year %>"><%= year %></label>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <!-- Transmission Filter -->
            <div class="row m-3 text-center">
              <div class="col-md-12">
                <div class="form-group img-custom shadow">
                  <label class="text-dark m-1 border border-light text-dark fw-bold">Transmission</label>
                  <div class="p-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name='transmission' id="manual" value="manual" <%= 'checked' if @transmission == 'manual' %>>
                      <label class="form-check-label text-dark" for="manual">Manual</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name='transmission' id="automatic" value="manual" <%= 'checked' if @transmission == 'manual' %>>
                      <label class="form-check-label text-dark" for="automatic">Automatic</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Engine Type Filter -->
            <div class="row m-3 text-center">
              <div class="col-md-12">
                <div class="form-group img-custom shadow">
                  <label class="text-dark m-1 border border-light text-dark fw-bold">Engine Type</label>
                  <div class="p-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name='engine_type[]' id="engine2L" value="2" <%= 'checked' if @engine_type&.include?('2') %>>
                      <label class="form-check-label text-dark" for="engine2L">2.0L</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name='engine_type[]' id="engine3L" value="3" <%= 'checked' if @engine_type&.include?('3') %>>
                      <label class="form-check-label text-dark" for="engine3L">3.0L</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name='engine_type[]' id="engine4L" value="4" <%= 'checked' if @engine_type&.include?('4') %>>
                      <label class="form-check-label text-dark" for="engine4L">4.0L</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Miles Driven Filter -->
            <div class="row m-3 text-center">
              <div class="col-md-12">
                <div class="form-group img-custom shadow">
                  <label class="text-dark m-1 border border-light text-dark fw-bold">Miles Driven</label>
                  <div class="p-3">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" name='miles_driven' id="milesBelow25K" value="<25000" <%= 'checked' if @miles_driven == '<25000' %>>
                          <label class="form-check-label text-dark" for="milesBelow25K">Below 25,000</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" name='miles_driven' id="miles25Kto70K" value="25000-70000" <%= 'checked' if @miles_driven == '25000-70000' %>>
                          <label class="form-check-label text-dark" for="miles25Kto70K">25,000 - 70,000</label>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Fuel Type Filter -->
            <div class="row m-3 text-center">
              <div class="col-md-12">
                <div class="form-group img-custom shadow">
                  <label class="text-dark m-1 border border-light text-dark fw-bold">Fuel Type</label>
                  <div class="p-3">
                    <% fuels = filter_data['fuel_type'] %>
                    <% fuels.each do |fuel| %>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="<%= fuel.downcase %>" name="fuel_type[]" value="<%= fuel %>" <%= 'checked' if @fuel_type&.include?(fuel) %>>
                        <label class="form-check-label text-dark" for="<%= fuel.downcase %>"><%= fuel %></label>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer d-flex justify-content-center">   
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-outline-success" >Apply Filter</button>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-outline-danger" style="width: 110% !important" id="removeFilterBtn" onclick="removeFilter()">Remove Filter</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>