<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header">
          <h5 class="card-title">Edit Offer</h5>
        </div>
        <div class="card-body">
          <%= form_with(model: @offer, url: inventory_offer_path(@offer), method: :patch, class: "needs-validation", novalidate: true) do |form| %>
            <div class="form-group">
              <% if params[:inventory_offer][:status] == "rejected" %>
                <%= form.label :rejection_reason, class: "form-label", style: "color: black;" %>
               <%= form.text_field :rejection_reason, style: "color: black; !important;", required: true %>
              <% else %>
                <%= form.label :offer_value, class: "form-label",style: "color: black;"  %>
                <%= form.number_field :offer, class: "form-control", style: "color: black; !important;", required: true %>
                <div class="invalid-feedback">
                  Please enter a valid offer value.
                </div>
              <% end %>

            </div>
            <%= form.hidden_field :status, value: "#{params[:inventory_offer][:status]}" %>

            <div class="mt-2 text-center">
              <%= form.submit "Update", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>