<div class="container-fluid px-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
   <h1 class="mt-4">Offers Received</h1>
   <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></li>
      <li class="breadcrumb-item active"><%= link_to 'Inventories', inventories_path %></li>
      <li class="breadcrumb-item active">Upload Inventories</li>
   </ol>
   <div class="card mb-4">
      <div class="card-header">
         <i class="bi bi-cloud-arrow-up-fill me-1"></i>
         Offers Received
      </div>
      <div class="card-body">
         
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Inventory</th>
                  <th scope="col">Offer</th>
                  <th scope="col">Status</th>
                  <th></th>
               </tr>
               <% @offers.each_with_index do |offer, index| %>
                 <tr>
                   <td><%= index + 1 %></td>
                   <td><%= offer.inventory.make %></td>
                   <td><%= offer.offer %></td>
                   <td><%= offer.status || '-' %></td>
                   <td>
                 <%= link_to "Accept", edit_inventory_offer_url(id: offer.id, inventory_offer: {status: 'accepted'}), class: 'btn btn-success btn-sm ml-1', style: "background-color: green; font-weight: bold", target: "_blank" %>
                 </td>
                <td>
                 <%= link_to "Reject", edit_inventory_offer_url(id: offer.id, inventory_offer: {status: 'rejected'}), class: 'btn btn-success btn-sm ml-1', style: "background-color: red; font-weight: bold", target: "_blank" %>
                </td>
               <td>
                 <%= link_to "Requote", edit_inventory_offer_url(id: offer.id, inventory_offer: {status: 'requote'}),class: 'btn btn-success btn-sm ml-1', style: "background-color: blue; font-weight: bold", target: "_blank" %>
               </td>


                 </tr>
               <% end %>
            </thead>
         </table>
      </div>
   </div>
   <%= paginate @offers %>
</div>
