<div>
  <tr>
    <td valign="middle" class="hero bg_white" style="padding: 2em 0 2em 0;">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
            <td style="padding: 0 2.5em; text-align: left;">
               <p>Dear Inventory Admin </p>
               <div class="text">
                  <p>We're pleased to inform you that an offer on one of your listed inventory items has been accepted!</p> 
               </div>
            </td>
         </tr>
      </table>
    </td>
  </tr>

  <tr>
    <table class="bg_white" role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
        <th>Inventory Details</th>
      </tr>
      <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
        <td valign="middle" width="80%" style="text-align:left; padding: 0 2.5em;">
          <div class="product-entry">
            <div class="text">
              <p><strong>Model : </strong><%= @inventory.model.capitalize %></p>
              <p><strong>Year : </strong><%= @inventory.year %></p>
              <p><strong>Price : </strong> $ <%= @inventory.price %></p>
              <p><strong>Offer value : </strong> $ <%= "#{@offer_price}" %></p>
            </div>
          </div>
        </td>
      </tr>
      <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
        <th>Inventory Owner Details</th>
      </tr>
      <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
         <td valign="middle" width="80%" style="text-align:left; padding: 0 2.5em;">
            <div class="product-entry">
              <div class="text">
                <p><strong>Name : </strong> <%= "#{@seller_first_name} #{@seller_last_name}" %></p>
                <p><strong>Email : </strong> <%= "#{@seller_email}" %></p>
              </div>
            </div>
         </td>
      </tr>
      <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
        <th>Buyer Details</th>
      </tr>
      <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
        <td valign="middle" width="80%" style="text-align:left; padding: 0 2.5em;">
          <div class="product-entry">
            <div class="text">
              <p><strong>Name : </strong> <%= "#{@user_first_name} #{@user_last_name}" %></p>
              <p><strong>Email : </strong> <%= "#{@user_email}" %></p>
            </div>
          </div>
        </td>
      </tr>
      <tr valign="middle" width="80%" style="text-align:left; padding: 0 2.5em;">
        <td>
          <div class="product-entry">
            <div class="text">
              <p>Best Regards,</p>
              <p>Your App Team</p>
              <br/>
             <p class="bg_white"><b>Please note:</b> This is a system-generated message. You cannot reply directly to this email</p>
           </div>
          </div>
        </td>
      </tr>
    </table>
  </tr>
</div>