<h2>Dear <%= "#{@first_name} #{@last_name}" %></h2>

<p>You got an offer on your inventory:</p>
<% if @inventory.image_urls.present? %>
  <%= image_tag(@inventory.image_urls.first, class: "card-img-top img-fluid", width: 60, height: 60) %>
<% else %>
  <div class="card-img-top img-fluid h-60 bg-light"></div>
<% end %>


<h3><%= @inventory.model %></h3>

<%= link_to "Accept", edit_inventory_offer_url(id: @offer_id, inventory_offer: {status: 'accepted'}), style: "font-weight: bold", target: "_blank" %>
<%= link_to "Reject", edit_inventory_offer_url(id: @offer_id, inventory_offer: {status: 'rejected'}), style: "font-weight: bold", target: "_blank" %>

<p>Thank you for choosing Inventory Cars as your trusted partner in inventory management. We're excited about the journey ahead and can't wait to see your business thrive with our services.</p>

<p>Should you need anything, please don't hesitate to reach out. We're here to assist you every step of the way.</p>

<p>Best regards,</p>
<p>Mike Miles</p>
<p>Founder & CEO</p>
<p>Inventory Cars</p>
<p>209.273.9668</p>
<p>Email#3</p>