<!DOCTYPE html>
<html>
  <head>
    <title>InventoryCars</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/aos.css">
    <link rel="stylesheet" href="/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/icomoon.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="search-filter.css" rel="stylesheet">
    <style type="text/css">
      .img-custom-container {
      position: relative;
      }
      .img-custom {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: transform 0.3s ease; /* Adding transition */
      }
      .img-custom:hover {
      transform: scale(1.1); /* Zoom effect on hover */
      }   
      .image-container {
      position: relative;
      height: 600px;
      background-color: black;
      overflow: hidden;
      }
      .image-container img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      }   
      .disabled-cursor {
      pointer-events: none; /* Disable pointer events */
      opacity: 0.5; /* Reduce opacity to visually indicate disabled state */
      }
      .disabled-link {
      cursor: not-allowed; /* Set cursor to not allowed */
      }
    </style>
  </head>
  <body style="display: grid;">
      <%= render '/home/shared/navbar' %>
    <div class="content-wrapper">
      <%= yield %>
    </div>
      <%= render '/home/shared/footer' %> 
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.easing.1.3.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/jquery.stellar.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/aos.js"></script>
    <script src="/assets/js/jquery.animateNumber.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.js"></script>
    <script src="/assets/js/jquery.timepicker.min.js"></script>
    <%# <script src="/assets/js/scrollax.min.js"></script> %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/assets/js/google-map.js"></script>
    <%# <script src="/assets/js/main.js"></script> %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script>

       document.addEventListener("DOMContentLoaded", function() {

    const stateSelect = document.getElementById('stateSelect');
    const citySelect = document.getElementById('citySelect');

    stateSelect.addEventListener('change', function() {
        const selectedState = stateSelect.value;
        fetch(`/cities?state=${selectedState}`)
            .then(response => response.json())
            .then(data => {
                citySelect.innerHTML = '';
                data.forEach(city => {
                    const option = document.createElement('option');
                    option.value = city;
                    option.textContent = city;
                    citySelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error fetching cities:', error);
            });
    });

    citySelect.addEventListener('change', function() {
        const selectedState = stateSelect.value;
        const selectedCity = citySelect.value;
        fetch(`/pincodes?state=${selectedState}&city=${selectedCity}`)
            .then(response => response.json())
            .then(data => {
                pinSelect.innerHTML = '';
                data.forEach(zip_code => {
                    const option = document.createElement('option');
                    option.value = zip_code;
                    option.textContent = zip_code;
                    pinSelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error fetching cities:', error);
            });
 });
  });

      $(document).ready(function() {
        // Example recent locations
        var recentLocations = ["New York", "London", "Paris", "Tokyo"];

        // Populate recent locations dropdown
        var recentLocationsDropdown = $("#recentLocations");
        recentLocations.forEach(function(location) {
          recentLocationsDropdown.append('<a class="dropdown-item" href="#">' + location + '</a>');
        });

        // Function to handle city selection
        $(".dropdown-item").click(function() {
          var selectedCity = $(this).text();
          $("#cityInput").val(selectedCity);
        });

        // Example function to handle search button click
        $("#searchButton").click(function() {
          var selectedCity = $("#cityInput").val();
          // Perform search or any other action with the selected city
          console.log("Searching for:", selectedCity);
        });

        // Example function to get current location
        // This can be implemented using Geolocation API
        function getCurrentLocation() {
          // Code to get current location
          // Example:
          // navigator.geolocation.getCurrentPosition(function(position) {
          //   var currentLat = position.coords.latitude;
          //   var currentLon = position.coords.longitude;
          //   console.log("Current Location:", currentLat, currentLon);
          // });
        }
      });
          document.getElementById('price').oninput = function() {
          document.getElementById('priceValue').innerText = this.value;
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    function isBottomOfPage() {
      return window.innerHeight + window.scrollY >= document.body.offsetHeight;
    }

    function loadMoreContent() {
      var page = document.getElementById("page_value").value; 
      if (isBottomOfPage() && page != '') {
        $.ajax({
          url: '/cars_collection.js',
          method: 'GET',
          data: { page: page }     
        });
      }
    }

    window.addEventListener('scroll', function() {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      // User has reached the bottom of the page
      loadMoreContent();
    }
    });

window.addEventListener('popstate', function(event) {
    location.reload();
});


    </script>


  </body>
</html>